	body {
	  font: 1.2em / 1.5 system-ui;
	  width: 80%;
	  margin-right: auto;
	  margin-left: auto;
	}

	.sender-column {
	  text-align: right;
	}

	h1 {
	  font-size: 1.5em;
	}

	h2 {
	  font-size: 1.3em;
	}